.artist-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    backface-visibility: hidden;
    background: black;
    /* background: linear-gradient(to left, transparent,rgb(0, 0, 0)); */
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), #000000 ); */
}


.artist-header img{
    max-height: fit-content;
    width: 48%;
    background-image: linear-gradient(to left, 
    transparent,rgba(0,0,0,1) );
    background: black;
}
.artisttitle{
    color: rgb(218, 216, 216);
    margin: auto;
}

.artistBox{
    align-content: center;
    align-items: center;
    /* border: 20px solid green; */
}
.nameBox{
    border: solid 2px aqua;
    width: 100%;
    text-align: center;
}
.flexboxArtist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid red;
}
.artistBio{
    border: orange solid 3px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 4px;
    line-height: 1.5;
    font-size: 21px;
    text-align:left;
    padding: 40px;

    text-align: justify;
}
.imagenArtista{
    border: orange solid 3px;
    width: 50%;
}