* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  este es el header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: #121110;
    height: 60px;
}
.nav-tab li, a, button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 520;
    font-size: 18px;
    color: rgb(249, 33, 33);
    text-decoration: none;
}
/* Main Home Link */
.main_name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
}
/* Header links */
.bar_links {
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style: none;
    border-radius: 2rem;
    gap: 30px;
}
.bar_links a.active{
    background-color: white;
    border-left: 7px solid rgb(210, 3, 44) ;
    border-right: 7px solid rgb(210, 3, 44);
    padding: 19.2px;
    color: black;
}
/* esto se hace para mostrar en qué página estoy... */

.bar_links li {
    display: inline-block;
    padding: 0px 15px;
}

.bar_links li a {
    transition: all 0.3s ease 0s;
}

.bar_links li a:hover:not(.active-link) {
    color: white;
    background-color: rgba(255, 0, 0, 0.302);
    padding: 19px;
}

/* Top Search Bar */

.header-search{
    border:rgb(210, 3, 44) solid 2px;
    border-radius: 3em 3em 3em 3em;
}
.header-search input[type=text] {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 3em 0% 0% 3em;
    /* float:left; */
    width: 81%;
    background: #f1f1f1;
}
.header-search input[type=text]:hover{
    border: none;
}

.header-search button {
    float:right;
    width: 19%;
    padding: 9.7px;
    background: #f1f1f1;
    color: grey;
    font-size: 18px;
    border: none;
    border-radius: 0% 3em 3em 0%;
    /* border-left: none; */
    cursor: pointer;
}

.header-search button:hover {
    color: rgb(210, 3, 44);
}

.header-search::after {
    content: "";
    clear: both;
    display: table;
}